:root {
  --primary: #e6e9ec;
  --dark: #394039;
  --width: 640px;
  --height: 360px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--primary);
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: relative;
  width: var(--width);
  height: var(--height);

  outline: 1px solid var(--dark);
  overflow: hidden;
  transform: scale(1.75);
}

.game-container canvas {
  image-rendering: pixelated;
}
